In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# import the data into dataframes
student_df = pd.read_csv("Resources/clean_students_complete.csv")
school_df = pd.read_csv("Resources/schools_complete.csv")

In [8]:
# merge the datasets
complete_df = pd.merge(student_df,school_df,on=["school_name" , "school_name"])
complete_df.head(100)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,95,Kevin Martinez,M,11th,Huang High School,89,58,0,District,2917,1910635
96,96,96,Jessica Smith,F,9th,Huang High School,77,72,0,District,2917,1910635
97,97,97,Dawn Trujillo,F,11th,Huang High School,82,87,0,District,2917,1910635
98,98,98,Virginia Ramirez,F,10th,Huang High School,99,89,0,District,2917,1910635
99,99,99,Marc Hernandez,M,10th,Huang High School,87,63,0,District,2917,1910635

In [4]:
# get total count of students
student_total = complete_df["Student ID"].count()
print(student_total)
# get total number of schools
print(f"\n Total Number of Schools :")
print(school_df["school_name"].count())

39170

 Total Number of Schools :
15

In [5]:
# calculate the total Budget
school_df["budget"].sum()

24649428

In [6]:
#calculate the average scores
avg_reading = complete_df["reading_score"].mean()
print(f"The average reading score is {avg_reading}")
avg_math = complete_df["math_score"].mean()
print(f"The average reading score is {avg_math}")

The average reading score is 81.87784018381414
The average reading score is 78.98537145774827

In [7]:
# count the % of students passing reading and math
reading_pass = complete_df["reading_score"] >= 70
math_pass = complete_df["math_score"] >= 70
math_reading_pass = math_pass & reading_pass
print(f"Math had a {math_pass.sum()/student_total:0.1f} pass rate")
print(f"reading had a {reading_pass.sum()/student_total:0.1f} pass rate")
print(f"the % of students who passed both {math_reading_pass.sum()/student_total:0.1f} ")

Math had a 0.7 pass rate
reading had a 0.9 pass rate
the % of students who passed both 0.7

In [11]:
#Create District and CharterStatistics
complete_df["type"].value_counts()

District    26976
Charter     12194
Name: type, dtype: int64

In [16]:
grouped_df = complete_df.groupby("type")
grouped_df.mean()

,Unnamed: 0,Student ID,reading_score,math_score,School ID,size,budget
type,,,,,,,
Charter,19438.475398,19438.475398,83.902821,83.406183,6.964163,1717.352468,1.024543e+06
District,19650.507711,19650.507711,80.962485,76.987026,6.984505,4063.261195,2.611175e+06

In [22]:
len(complete_df["school_name"].unique())

15